<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amedigital.coreui">

    <application>
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.Challengeandroid" />
    </application>

</manifest>