<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wagnermessias.olodjinha">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".core.ALodjinhaApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".feature.about.AboutActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".feature.products.detail.ProductDetailActivity"
                android:label="@string/title_activity_product_detail"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--<activity-->
                <!--android:name=".feature.products."-->
                <!--android:label="@string/title_activity_scrolling"-->
                <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <activity
                android:name=".feature.products.bycategory.ProductByCategoryActivity"
                android:label="@string/title_activity_product_by_category"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".feature.home.HomeActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>