<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amedigital.challenge_produto">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".KoinApp"
        tools:replace="android:name">
        <activity
            android:name=".CategoriaActivity"
            android:exported="false"
            android:label="@string/title_activity_categoria"
            android:theme="@style/Theme.Challengeandroid">
            <intent-filter>
                <action android:name="categoria" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="categoria"
                    android:scheme="lodjinha" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProdutoActivity"
            android:exported="false"
            android:label="@string/title_activity_produto"
            android:theme="@style/Theme.Challengeandroid">
            <intent-filter>
                <action android:name="produto" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="produto"
                    android:scheme="lodjinha" />
            </intent-filter>
        </activity>
    </application>

</manifest>